{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<div class="container col-md-6" style="margin-top:30px;">  
    <h1>Delete stock unit</h1>
</div>
<div class="container col-md-6" style="margin-top:30px;">  
    <p>Delete Brand {{ brand }} </p>
    <form action="{% url 'brand_delete' brand.id %}" method="POST">                
        {% csrf_token %}        
        <input type="submit" name="Submit" value="Confirm" class="btn-danger">        
        <button class="btn-primary" action="#" > <a style="color:aliceblue" href="{% url 'brand_list' %}">Cancel</a></button>        
    </form>            
</div>
{% endblock %}


