{%  extends 'accounts/main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container col-md-8" style="margin-top:25px;">    
 <!-- Form title and search -->
    <div class="alert alert-dark" role="alert">        
        <span style="font-weight: bold;"> PRODUCT BRANDS </span>
        <form class="form-group col-md-8" method="get" style="float:right;width: auto;vertical-align: center;">
            {{brand_filter.form.name}}
            <button class="brn btn-sm" style="margin-left:2px;" type="submit">Search</button>            
            <a class="addlink" style="margin-bottom: 3px;" href="{% url 'brand_create' %}"> Add </a>
        </form>
    </div>
<!-- Table  -->
    <div class="card card-body col-md-12" style="min-height:400px;">        
        <table class="table table-sm col-md-12 table-hover table-bordered" style="font-size:small;">
            <thead class="thead-light">
                <tr>
                    <th style="width: 8%;">Change</th>
                    <th style="width: 8%;">Delete</th>
                    <th>NAME</th>                    
                </tr>
            </thead>
            {% for item in brands %}
            <tr>
                <td><a class="changelink" href="{% url 'brand_update' item.id %}"></a></td>
                <td><a class="deletelink" href="{% url 'brand_delete' item.id %}"></a></td>                
                <td>{{item.name}}</td>                
            </tr>
            {% endfor %}
        </table>            
    </div>

    <!-- Table Pagination -->
    <div class="alert alert-light" role="alert">        
        <nav aria-label="Page navigation example">            
            <div style="float:left;font-family:'Courier New', Courier, monospace"> {{ brands}}</div>
            <ul class="pagination justify-content-end">                            
                {% if brands.has_previous %}
                <li class="page-item"><a class="page-link" href="{% url 'brand_list' %}?page={{brands.previous_page_number}}" tabindex="-1">Previous</a>                </li>
                <li class="page-item"><a class="page-link" href="{% url 'brand_list' %}?page=1">First</a></li>              
                {% else %}
                <li class="page-item disabled">                    <a class="page-link" href="#" tabindex="-1">Previous</a>                  </li>
                <li class="page-item disabled">                    <a class="page-link" href="#" tabindex="-1">First</a>                  </li>
                {% endif %}                
                {% if brands.has_next %}
                <li class="page-item"><a class="page-link" href="{% url 'brand_list' %}?page={{brands.next_page_number}}">Next</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'brand_list' %}?page={{brands.paginator.num_pages}}">Last</a></li>
                {% else %}
                <li class="page-item disabled">                    <a class="page-link" href="#" tabindex="-1">Next</a>                  </li>
                <li class="page-item disabled">                    <a class="page-link" href="#" tabindex="-1">Last</a>                  </li>                
                {% endif %}
            </ul>
        </nav>        
    </div>
</div>
{% endblock %}

