{% extends 'accounts/main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container col-sm-4" style="margin-top:35px;">
  <div class="card card-header col-md-12">
    <h3>update class </h3>
    <hr>    
    <form method="post">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-5 mb-0">
          {{ form.name|as_crispy_field }}
        </div>
      </div>
      
      <button type="submit" class="btn btn-primary">Save</button>
      <a class="btn btn-warning" href="{% url 'class_list' %}">Cancel</a>    
    </form>
  </div>
</div>
{% endblock %}