{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<div class="container col-md-6" style="margin-top:30px;">  
    <h1>Delete customer</h1>
</div>
<div class="container col-md-6" style="margin-top:30px;">  
    <p>Delete user {{customer}} </p>
    <form action="{% url 'delete_customer' customer.id %}" method="POST">
        {% csrf_token %}        
        <input type="submit" name="Submit" value="Confirm" class="btn-danger">        
        <button class="btn btn-warning" action="#" > <a href="{% url 'list_customer' %}">Cancel</a></button>        
    </form>            
</div>



{% endblock %}