{%  extends 'accounts/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container col-md-8" style="margin-top:35px;">    
    
    <div class="alert alert-primary" role="alert">
        Customer's list
        <a class="badge badge-warning float-right" href="{% url 'create_customer' %}"> Create Customer </a> 
    </div>

    <div class="card card-body col-md-12">        
    
        <form class="form-group form-inline col-md-6 " method="get" style="padding: 2px;margin:2px;" > 
        {{customer_filter.form.name|as_crispy_field}}        
        <button class="btn btn-primary btn-sm float-right" type="submit" style="padding:5px;margin:5px;">Search</button>          
    </form>
<br>
    <table class="table table-sm col-md-12 table-hover table-bordered" style="font-size:small;font-weight: bold;">        
        <thead class="thead-light">        
            <tr>					
                <th style="width: 5%;"></th>
                <th style="width: 5%;"></th>
                <th>NAME</th>
                <th>PHONE</th>
                <th>EMAIL</th>
            </tr>
        </thead>

        {% for customer in customers %}
        <tr>

            <td><a class="badge badge-pill badge-warning" href="{% url 'update_customer' customer.id %}">View</a></td>
            <td><a class="badge badge-pill badge-danger" href="{% url 'delete_customer' customer.id %}">Delete</a></td>

            <td>{{customer.name}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.email}}</td>
        </tr>
        {% endfor %}

    </table>
</div>
</div>
{% endblock %}