
<div>
    <a href="{% url 'home' %}">@Home</a>
</div>

<br />

<h6> shortcut</h6>

<ol>
    <li> <a href="{% url 'class_list' %}">stock classes </a> </li>
    <li> <a href="{% url 'brand_list' %}">stock brands </a> </li>
    <li> <a href="{% url 'stock_list' %}">stock </a> </li>
    <li> <a href="{% url 'su_list' %}">sales users</a> </li>
    <li> <a href="{% url 'order_list' %}">orders </a> </li>
    <li> <a href="{% url 'list_customer' %}">customers </a></li>
    <li> <a href="{% url 'stu_list' %}">stock units </a> </li>
</ol>
