{% load static %}

<style>
  .login{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">  
    
    <a class="navbar-brand" href="#"><img src="{% static 'images/logo.png' %}"></a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'list_customer' %}">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'stu_list' %}">Units</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'su_list' %}">Users</a>
        </li>
      </ul>
    </div>

    <span class="login">Hello,{{request.user}}</span>
    <span class="login"><a href="{% url 'logout' %}">Logout</a></span>

</nav>