{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<div class="container col-md-6" style="margin-top:30px;">  
    <h1>Delete stock</h1>
</div>
<div class="container col-md-6" style="margin-top:30px;">  
    <p>Delete user {{stock}} </p>
    <form action="{% url 'stock_delete' stock.id %}" method="POST">                
        {% csrf_token %}        
        <input type="submit" name="Submit" value="Confirm" class="btn-danger">        
        <a class=" btn btn-warning" href="{% url 'stock_list' %}">Cancel</a>
    </form>            
</div>
{% endblock %}


