{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<div class="container col-md-6" style="margin-top:30px;">  
  <h1>Update sales user</h1>
</div>
<div class="container col-md-6" style="margin-top:30px;">  
    <form method="post" novalidate>
      {% csrf_token %}
      {% include 'accounts/bs4_form.html' with form=form %}
      <button type="submit" class="btn btn-primary">Submit</button>
      <a class="btn btn-warning" href="{% url 'su_list' %}">Cancel</a>    
    </form>
</div>
{% endblock %}